<ion-content>
  <ion-list-header color="light">Budget</ion-list-header>
  <ion-card class="card-pie" *ngIf="expenses">
    <ion-card-header>
      <ion-card-title>Spend Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="piechart" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-line">
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="linechart" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>
</ion-content>